
<footer class="footer">
  <div class="container clearfix">
  	<div class="footer-col">
  	 	<div class="footer-col-item">
  	 		<p class="title--logo">iloveKevin</p>
  	 	</div>
  	</div>
  	<div class="footer-col">
  		
  	</div>
  </div>
</footer>
