
<footer class="footer">
  <div class="container clearfix">
  	<div class="footer-col footer-col--left">
  	 	<div class="footer-col-item">
  	 		<p class="title--logo">iloveKevin</p>
  	 	</div>
  	 	<div class="footer-col-item">
  	 		<a href="tel:88005003190" class="link">8 800 500-31-90</a>
  	 		<p>Звонки по России</p>
  	 	</div>
  	 	<div class="footer-col-item">
  	 		<a href="tel:+78123184054" class="link">+7 812 318-40-54</a>
  	 		<p>Санкт-Петербург</p>
  	 	</div>
  	 	<div class="footer-col-item">
  	 		<a href="tel:+74992702790" class="link">+7 499 270-27-90</a>
  	 		<p>Москва</p>
  	 	</div>
  	 	<div class="footer-col-item">
  	 		<a href="mailto:milo@elama.ru" class="link">milo@elama.ru</a>
  	 	</div>
  	</div>
  	<div class="footer-col footer-col--right">
      <div class="footer-col-item">
        <a href="" class="btn btn--secondary btn-vk">вконтакте</a>
        <a href="" class="btn btn--secondary btn-fb">facebook</a>
        <span>Расскажите друзьям</span>
      </div>
  	</div>
  	<div class="footer-col footer-col--bottom">
  		<a href="" class="link">Политика конфиденциальности</a>
  	</div>
  </div>
</footer>
