
<header class="header">
  <div class="container">
		<p class="title--logo">iloveKevin</p>
		<a href="" class="uppercase">регистрация</a>
		<a href="" class="uppercase">что вам это даст</a>
  </div>
</header>
