
<header class="header">
  <div class="container">
		<p class="title--logo">iloveKevin</p>
		<nav class="header-nav">
			<a href="#about-link" class="link">что вам это даст</a>
			<a href="#registration" class="link">регистрация</a>
  	</nav>
  </div>
</header>
