
<header class="header">
  <div class="container">
		<p class="title--logo">iloveKevin</p>
		<a href="#registration" class="link">регистрация</a>
		<a href="#about-link" class="link">что вам это даст</a>
  </div>
</header>
