
.btn {
	font-family: $font-primary-regular;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	color: #fff;
	border-radius: 5px;
	outline: none !important;
	transition: $transition-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:active {
		color: #fff;
		box-shadow: none;
	}
	&:focus {
		color: #fff;
	}
	&:hover,
	&:active {
		color: #fff;
		transition: none;
	}
}

.btn--primary {
	min-width: 300px;
	padding: 18.5px 12px 16px;
	margin-top: 1px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.2px;
	background-color: $color-pink;
	&.disabled {
		background-color: $color-pink-secondary;
		pointer-events: none;
	}
	&:hover,
	&:active {
		background-color: rgba($color-pink,.8);
	}
}

.btn--secondary {
	padding: 9px 18px 7px;
	font-size: 10px;
	line-height: 12px;
	text-decoration: none;
}

.btn.btn-vk {
	background-color: #597DA3;
	&:hover {
		background-color: rgba(#597DA3,.8);
	}
}

.btn.btn-fb {
	background-color: #3B5998;
	&:hover {
		background-color: rgba(#3B5998,.8);
	}
}

