
.form-inline {
  text-align: center;
  .form-control {
    width: 300px;
  }
  .form-group {
    display: inline;
    padding: 0 8px;
    &:last-child {
      text-align: center;
    }
  }
  .checkbox {
    width: 100%;
    margin: 33px 0;
    input[type="checkbox"] {
      width: auto;
    }
    span {
      color: $color-secondary;
    }
  }
}

.checkbox {
  label {
    position: relative;
    margin-right: 59px;
    transition: .3s;
    &:hover {
      border-color: rgba($color-primary, .45);
      transition: none;
    }
  }
  input {
    position: absolute;
    left: -999px;
    &:focus + .check {
      border-color: rgba($color-primary, .7);
      box-shadow: 0 0 5px rgba($color-primary,.4); 
    }
    &:checked {
      + .check {
        background-image: url(../images/check.svg);
        background-repeat: no-repeat;
        background-position: calc(50% + 1px) 55%;
      }
    }
  }
  .check {
    position: absolute;
    top: 0;
    left: 17px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #F4F5F9;
  }
}

.form-control {
  height: auto;
  padding: 15px 20px;
  font-family: $font-primary-regular;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
  border-radius: 3px;
  background-color: #F4F5F9;
  box-shadow: none;
  transition: border $transition-primary;
  &:hover {
    border-color: rgba($color-primary,.45);
    transition: none;
  }
  &:focus,
  &:active {
    border-color: rgba($color-primary, .7);
    box-shadow: 0 0 5px rgba($color-primary,.4);
    transition: none;
  }
  &::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:-moz-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &::-moz-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:-ms-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }          
}

.checkbox {
  span {
    font-size: 14px;
    line-height: 18px;
  }
}

// disabling yellow background for chromes autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
