
.link {
	border-bottom: 2px solid $color-pink;
	color: $color-primary;
	text-decoration: none;
  transition: $transition-primary;
  &:focus {
    color: $color-primary;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: rgba($color-primary,.8);
    text-decoration: none;
    transition: none;
  }
}

a[href^="tel:"] {
	font-family: $font-primary-bold;
	color: $color-primary;
	border: none;
}
