
.title--logo {
	display: inline-block;
	font-family: $font-primary-extra-bold;
	font-size: 30px;
	line-height: 35px
}

.title--hero {
	margin-bottom: 40px;
	font-family: $font-secondary-bold;
	font-size: 44px;
	line-height: 40px;
	font-weight: normal;
	font-style: normal;
}

.title--primary,
.title--secondary {
	font-family: $font-primary-bold;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
}

.title--primary {
	line-height: 30px;
}

.title--secondary {
	line-height: 42px;
	text-align: center;
}

.about-list-item-title {
	font-family: $font-primary-bold;
	font-size: 16px;
	line-height: 19px;
}
