
* {
	box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
	font-family: $font-primary-regular;
	font-size: 16px;
	color: $color-primary;
}

.container {
  width: 1290px !important;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
	padding: 50px 0 40px;
  .header-nav {
		float: right;
		margin-top: 3px;
		margin-right: -3px;
		text-align: right;
		.link {
			font-family: $font-primary-bold;
			font-size: 10px;
			line-height: 12px;
			color: $color-primary;
			letter-spacing: 1px;
			text-transform: uppercase;
			border-bottom: none;
			&:hover {
				border-bottom: 1px dashed $color-pink;
			}
			+ .link {
				margin-left: 20px;
			}
		}
  }
}

.main {
  margin: 0 0 119px;
}

.hero-section {
	position: relative;
	min-height: 500px;
	background-color: #D8D8D8;
}

.hero-bg {
	position: absolute;
	top: 0;
	left: 0;
}

.hero-img-tablet,
.hero-img-mobile {
	display: none;
}

.hero-info {
	position: relative;
	float: right;
	max-width: 700px;
	margin-top: 149px;
	margin-right: 28px;
	z-index: 2;
	p {
		font-size: 20px;
		line-height: 28px;
		color: $color-secondary;
	}
}

.about {
	padding-top: 94px;
}

.about-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 68px;
}

.about-list-item {
	display: flex;
	width: 350px;
	margin-right: 68px;
	margin-bottom: 52px;
	&:nth-child(3n) {
		margin-right: 0;
	}
	&:nth-child(2),
	&:nth-child(5) {
		.about-list-item-figure {
			margin-right: 0;
		}
	}
	&:nth-child(3),
	&:nth-child(6) {
		.about-list-item-figure {
			margin-right: 12px;
		}
	}
	&:nth-child(n+4) {
		.about-list-item-figure {
			padding-top: 0;
			margin-top: -2px;
			img {
				margin-left: 1px;
			}
		}
	}
	p {
		max-width: 250px;
		line-height: 24px;
	}
}

.about-list-item-figure {
	flex: 0 0 82px;
	padding-top: 4px;
	margin-right: 18px;
	overflow: hidden;
}

.swiper-container {
	display: none;
}

.registration {
	padding-top: 78px;
	p {
		max-width: 815px;
		margin: 33px auto 46px;
		line-height: 24px;
		text-align: center;
	}
}

.footer {
	padding: 50px 0 30px;
	border-top: 1px solid rgba(0, 37, 67, 0.2);
	.footer-col {
		float: left;
		.title--logo {
			font-size: 24px;
			line-height: 28px;
		}
		p {
			font-size: 14px;
			line-height: 16px;
		}
		&.footer-col--left {
			width: 80%;
			margin-bottom: 29px;
			.footer-col-item {
				float: left;
				padding: 0 6px;
				&:nth-child(1) {
					width: 20.2%;
				}
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					width: 20.9%;
				}
				&:nth-child(5) {
					width: auto;
				}
			}
		}
		&.footer-col--right {
			float: right;
			width: auto;
			margin-right: -3px;
			padding-top: 10px;
			text-align: center;
			.btn {
				&:first-child {
					margin-right: 7px;
				}
			}
			span {
				display: block;
				width: auto;
				margin-top: 17px;
				font-size: 14px;
				line-height: 16px;
				color: $color-secondary;
			}
		}
		&.footer-col--bottom {
			width: 100%;
			padding: 18px 0 24px;
			text-align: center;
			.link {
				font-size: 14px;
			}
		}
	}
}

