
@media (max-width: 1260px) {

  .container {
    width: 100% !important;
  }

  .hero-info {
  	max-width: 500px;
  }
	
	.about-list-item {
		width: 33%;
		margin-right: 0;
	}

}

@media (max-width: 1110px) {

  .hero-info {
  	max-width: 500px;
  }

  .footer {
  	.footer-col {
  		&:nth-child(2) {
  			padding-top: 0;
  			text-align: left;
  			.btn {
					display: block;
					max-width: 100px;
					&:first-child {
						margin-bottom: 10px;
		  		}	
				}	
  		}
  	}
  }

}

@media (max-width: 1024px) { 
	
	.main {
		margin-bottom: 50px;
	}

	.container {
		padding: 0 40px;		
	}
	
	.header {
		padding: 26px 0;
		.title--logo {
			margin-left: 4px;
			font-size: 24px;
			line-height: 28px;
		}
		.header-nav {
			margin-top: 9px;
			margin-right: -9px;
		}
	}

	.hero-section {
		min-height: 597px;
	}
	
	.hero-info {
		max-width: 355px;
		margin-top: 83px;
		margin-right: 0;
	}
	
	.title--hero {
		margin-bottom: 35px;
		font-size: 32px;
		line-height: 30px;
	}

	.hero-img-tablet {
		display: block;
	}

	.hero-img-desktop {
		display: none;
	}

	.about {
		padding-top: 54px;
	}

	.about-list {
		margin-top: 56px;
	}

	.title--secondary {
		font-size: 30px;
	}

	.about-list-item {
		display: inline-block;
		width: 32%;
		margin-right: 16px;
		margin-bottom: 53px;
		&:nth-child(3n),
		&:nth-child(4) {
			width: 31%
		}
		&:nth-child(4) {
			margin-right: 23px;
		}
		&:nth-child(n+4) {
			.about-list-item-figure {
				height: 75px;
			}
		}
		.about-list-item-title {
			margin-bottom: 3px;
			line-height: 24px;
		}
	}

	.about-list-item-figure {
		height: 96px;
		padding-top: 0;
	}
	
	.registration {
		padding-top: 38px;
		p {
			max-width: 695px;
			margin: 26px auto 42px;
		}
	}

	.form-inline {
		.form-group {
			display: block;
			margin-bottom: 10px;
		}
		.checkbox {
			width: 300px;
			margin: 23px auto 28px;
			text-align: left;
			label {
				margin-right: 35px;
			}
			.check {
				top: -18px;
				left: -2px;
			}
			span {
				display: inline-block;
				width: 255px;
			}
		}
	}

	.footer {
		padding: 47px 0 30px;
		.title--logo {
			margin-right: -14px;
		}
		.footer-col {
			&.footer-col--left {
				width: 100%;
				.footer-col-item {
					text-align: center;
					+ .footer-col-item {
						margin-top: 36px;
					}
					&:first-child,
					&:last-child {
						width: 100%;	
					}
					&:nth-child(2),
					&:nth-child(4) {
						width: 31.5%;
					}
					&:nth-child(3) {
						width: 37%;
					}
				}
			}
			&.footer-col--right {
				width: 100%;
				margin-top: 15px;
				margin-right: 0;
				text-align: center;
				.btn {
					display: inline-block;
					&:first-child {
						margin-bottom: 0;	
					}
				}
				span {
					display: block;
					margin-top: 9px;
				}
			}
			&.footer-col--bottom {
				margin: 18px 0 10px;
			}
		}
	}

}

@media (max-width: 767px) {

	.container {
		padding: 0 15px;	
	}

	.header {
		padding: 16px 0 11px;
		text-align: center;
		.title--logo {
			margin-top: 5px;
			margin-left: -12px;
		}
		a {
			display: none;
		}
	}
		
	.main {
    margin: 0 0 49px;
	}

	.hero-section {
		min-height: 399px;
	}

	.hero-img-tablet {
		display: none;
	}

	.hero-img-mobile {
		display: block;
	}

	.hero-info {
		float: none;
		margin-top: 0;
		padding-top: 68px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		p {
			font-size: 16px;
			line-height: 24px;
		}
	}
	
	.title--hero {
		margin-bottom: 30px;
	}

	.about {
		padding-top: 49px;
	}

	.about-list {
		display: none;
	}
	
	.swiper-container {
	  display: block;	
	}

	.swiper-wrapper {
		margin-bottom: 45px;
	}

	.swiper-slide {
		text-align: center;
		p {
			line-height: 25px;
		}		
	}
	
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: $color-primary;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: $color-pink;
	}

	.about-list-item-figure {
		width: auto;
		padding-top: 20px;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.registration {
		padding-top: 44px;
		.title--secondary {
			font-size: 24px;
		}
		p {
			margin: 19px auto 32px;
		}
	}

	.form-inline {
		.form-group {
			padding: 0;
		}
		.form-control {
			width: 290px;
			margin-left: auto;
			margin-right: auto;
		}
		.checkbox {
			width: 290px;
			margin: 33px auto 18px;
			label {
				padding-right: 0;
			}
			.check {
				top: -17px;
				left: 0;
			}
			span {
				width: 242px;
			}
		}
		.btn--primary {
			min-width: 290px;
		}
	}

	.footer {
		padding: 32px 0 30px;
		.title--logo {
			margin-right: 0;
		}
		a[href^="tel:"] {
			margin-bottom: 2px;
		}
		.footer-col {
			&.footer-col--left {
				.footer-col-item {
					width: 100% !important;
					&:first-child {
						margin-bottom: 16px;
					}
					+ .footer-col-item {
						margin-top: 26px;	
					}
				}
				margin-bottom: 33px;
			}
			&.footer-col--right {
				margin-top: 3px;
				span {
					margin-top: 9px;
					margin-left: 22px;
				}
			}
			&:last-child {
				margin: 12px 0 10px ;	
			}
		}
	}

}

