
// fonts
$font-primary-regular: 'muller-regular', Helvetica, Arial, sans-serif;
$font-primary-bold: 'muller-bold', Helvetica, Arial, sans-serif;
$font-primary-extra-bold: 'muller-extra-bold', Helvetica, Arial, sans-serif;

$font-secondary-regular: Helvetica, Arial, sans-serif;
$font-secondary-bold: 'geometria', Helvetica, Arial, sans-serif;

// colors
$color-primary: #002543;
$color-secondary: #525252;
$color-gray: #e6e6e6;
$color-pink: #EB3441;
$color-pink-secondary: rgba(235, 52, 65, 0.5);

// transitions
$transition-primary: .3s;
